<md-content class="fade" ng-show="loadItems && char">
    <div class="pageTitle">
        <div layout-padding ng-if="char">

            <h1 class="class{{char.class}} nospacing fade mid charName"></h1>
            <div ng-if="talent.selected" ng-repeat="talent in char.talents">
                <div class="type">
                    <span ng-bind-html="char.name" class="class{{char.class}}" ng-class="{'glow': char.items.averageItemLevelEquipped >= raidReady, 'glow2': char.items.averageItemLevelEquipped >= raidReady+20, 'glow3': char.items.averageItemLevelEquipped >= raidReady+40}"></span>
                    <span ng-bind-html="talent.spec.name">enhancement</span>
                    <!--<span ng-bind-html="talent.spec.role"></span>-->
                </div>
                <!--<h4 class="nopad nomarg mid">
                        <span>( </span>
                        <span class="pointer" ng-if="char.items.averageItemLevelEquipped <= (raidReady - 1)" ng-style="char.items.averageItemLevelEquipped <= (raidReady - 1) && {'color': 'red'}">
                    <span ng-bind-html="'-' + (raidReady - char.items.averageItemLevelEquipped) + ', '"></span>
                        <span ng-bind-html="raidready_string"></span>
                        <md-tooltip md-direction="right" class="md-accent blacktip">
                            <span>{{raidReady}}{{ilvl_string}} {{raidReady - char.items.averageItemLevelEquipped}} ilvl</span>
                        </md-tooltip>
                        </span>
                        <span ng-if="char.items.averageItemLevelEquipped >= raidReady" ng-bind-html="raidready_string2"></span>
                        <span> )</span>
                    </h4>-->
            </div>
        </div>
    </div>
    </div>
    </div>
</md-content>
<div layout-gt-md="row" layout-align="center stretch" class="fade" ng-show="loadItems && char">
    <md-content flex class="page-container">
        <div class="page fade">
            <div layout="row">
                <div ng-if="char" flex>
                    <h2 class="lootTable md-title" ng-bind-html="items_itemlevel_string + char.items.averageItemLevelEquipped"></h2>

                    <md-list class="md-2-line nopad nomarg">
                        <md-list-item class="md-list-item-text nopad nomarg lootList" ng-repeat="(key, value) in char.items" ng-if="key != 'averageItemLevel' && key != 'averageItemLevelEquipped'">
                            <div class="md-list-item-text nopad nomarg">
                                <h3 class="inline">
                                    <span ng-style="value.itemLevel <= (raidReady - 1) && {'color': 'red'}" ng-bind-html="value.itemLevel"></span>
                                    <a target="_blank" class="qual{{value.quality}}" ng-href="http://www.wowhead.com/item={{value.id}}" rel="bonus={{getBonus(value.bonusLists | flatten)}} pcs={{getBonus(value.tooltipParams.set | flatten)}}  ench={{value.tooltipParams.enchant}} gems={{value.tooltipParams.gem0}}:{{value.tooltipParams.gem1}} upgd={{value.tooltipParams.upgrade.current}}"
                                        ng-bind-html="value.name"></a>
                                </h3>
                            </div>
                        </md-list-item>
                    </md-list>

                </div>
            </div>
        </div>
    </md-content>

    <md-content flex class="page-container">
        <div class="page fade">
            <div layout-gt-md="row" layout-align="center start">
                <div flex="40">
                    <h2 class="lootTable md-title" ng-bind-html="stats_talents_string"></h2>
                    <md-list ng-if="talent.selected" ng-repeat="talent in char.talents">
                        <md-list-item class="md-2-line nopad nomarg" ng-repeat="t in talent.talents | orderBy:'tier'">
                            <div>
                                <h4 ng-bind-html="'Tier ' + (t.tier+1)" class="light"></h4>
                                <h3 class="inline">
                                    <a class="qual{{loot.quality}}" target="_blank" ng-href="http://www.wowhead.com/spell={{t.spell.id}}" ng-bind-html="t.spell.name"></a>
                                </h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div flex="30">
                    <h2 ng-bind-html="stats_primary_string" class="md-title"></h2>

                    <md-list>
                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.health != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">HP</h4>
                                <h3 ng-bind-html="char.stats.health"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.sta != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">STA</h4>
                                <h3 ng-bind-html="char.stats.sta"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.str != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">STR</h4>
                                <h3 ng-bind-html="char.stats.str"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.agi != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">AGI</h4>
                                <h3 ng-bind-html="char.stats.agi"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.int != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">INT</h4>
                                <h3 ng-bind-html="char.stats.int"></h3>
                            </div>
                        </md-list-item>
                    </md-list>

                </div>
                <div flex="30">
                    <h2 ng-bind-html="stats_secondary_string" class="md-title"></h2>
                    <md-list>
                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.mastery != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">MASTERY</h4>
                                <h3 ng-bind-html="(char.stats.mastery | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.crit >= char.stats.crit">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">CRIT</h4>
                                <h3 ng-bind-html="(char.stats.crit | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.spellCrit != char.stats.crit">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">SPELLCRIT</h4>
                                <h3 ng-bind-html="(char.stats.spellCrit | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.haste != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">HASTE</h4>
                                <h3 ng-bind-html="(char.stats.haste | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.armor != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">ARMORY</h4>
                                <h3 ng-bind-html="char.stats.armor"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.dodge != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">DODGE</h4>
                                <h3 ng-bind-html="(char.stats.dodge | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.parry != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">PARRY</h4>
                                <h3 ng-bind-html="(char.stats.parry | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.block != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">BLOCK</h4>
                                <h3 ng-bind-html="(char.stats.block | percent: 100: true )+ '%'"></h3>
                            </div>
                        </md-list-item>

                        <md-list-item class="md-2-line nopad nomarg" ng-if="char.stats.mana5Combat != 0">
                            <div class="md-list-item-text nopad nomarg">
                                <h4 class="light">REGEN</h4>
                                <h3 ng-bind-html="char.stats.mana5Combat"></h3>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
    </md-content>

    <md-content flex class="page-container">
        <div class="page fade">

            <h2 ng-bind-html="history_string" class="md-title"></h2>

            <md-list class="md-2-line nopad nomarg">
                <md-list-item class="md-list-item-text nopad nomarg lootList" ng-repeat="loot in char.feed | limitTo: 20" ng-if="loot.type != 'CRITERIA'">
                    <div class="md-list-item-text nopad nomarg">
                        <h3 class="inline">
                            <a class="qual{{loot.quality}}" target="_blank" ng-href="http://www.wowhead.com/item={{loot.itemId}}" rel="bonus={{getBonus(loot.bonusLists | flatten)}} pcs={{getBonus(loot.tooltipParams.set | flatten)}}  ench={{loot.tooltipParams.enchant}} gems={{loot.tooltipParams.gem0}}:{{loot.tooltipParams.gem1}} upgd={{value.tooltipParams.upgrade.current}}"
                                ng-if="loot.type == 'LOOT'" ng-bind-html="loot.itemId" class="light"></a>
                            <a target="_blank" ng-href="http://www.wowhead.com/achievement={{loot.achievement.id}}" ng-if="loot.type == 'BOSSKILL' || loot.type == 'ACHIEVEMENT'"
                                ng-bind-html="loot.achievement.title" class="light"></a>
                        </h3>
                    </div>
                </md-list-item>
            </md-list>


        </div>
    </md-content>
</div>

<h5 ng-if="subtractDates(char.feed[0].timestamp) > 1" class="nopad nomarg mid" ng-show="loadItems" ng-bind-html="activity_string + ' ' + subtractDates(char.feed[0].timestamp) + ' ' + since_string + '.' "></h5>
<h5 ng-if="subtractDates(char.feed[0].timestamp) == 1" class="nopad nomarg mid" ng-show="loadItems" ng-bind-html="activity_string + ', ' + today_string + '.'"></h5>

<div class="fade" ng-show="loadItems && char">
    <md-content class="page-container fade">
        <div class="page">
            <div ng-repeat="unit in guild.members | groupBy:'character.class'" class="guildlist list{{$index}}"
                ng-if="(unit | filter:sok | filter:{ character: {class: filter.class.id } } : true | filter:{ rank: filter.rank.id } : true ).length > 0">
                <div layout-gt-md="row"  ng-repeat="uni in unit | filter:sok | groupBy:'rank'">
                                        <div ng-repeat="g in uni | filter:{ character: {class: char.class } } : true | orderBy: 'character.name'" class="fade">
                        <h3 ng-if="$first" ng-bind-html="getRank(g.rank)" class="charListHeader light"></h3>
                        </div>
                    <div ng-repeat="g in uni | filter:{ character: {class: char.class } } : true | orderBy: 'character.name'" class="fade">


                        <a ui-sref="char({ char: g.character.name })" class="class{{g.character.class}} guildliste" ng-class="{'selected': char.name.search(g.character.name) != -1}">
                            <h3 class="pointer charList" ng-bind-html="g.character.name"></h3>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>