<md-content class="fade" ng-show="gnews">
    <div class="pageTitle">
        <div layout="row" layout-align="center center">
            <div layout-padding>
                <h1 class="class{{char.class}} nospacing fade mid charName" ng-bind-html="newstitle_string"></h1>
            </div>
            <div>
                <!--  <ng-include ng-if="char.items.averageItemLevelEquipped > (raidReady - 1)" src="'partials/skull.html'"></ng-include>-->
            </div>
        </div>
    </div>
</md-content>
<div layout-gt-md="row" layout-align="center start">
    <md-content class="page-container" ng-repeat="loot in gnews.news  | groupBy:'type'" ng-show="gnews.news[0]">
        <div class="page fade" ng-show="loadItems">
                    <div ng-repeat="l in loot | limitTo:15" ng-show="loadItems" class="fade">
                            <h2 ng-if="$first && l.type == 'itemCraft'" class="newsItem" ng-bind-html="craft_string"></h2>
                            <h2 ng-if="$first && l.type == 'itemPurchase'" class="newsItem" ng-bind-html="bought_string"></h2>
                            <h2 ng-if="$first && l.type == 'itemLoot'" class="newsItem" ng-bind-html="looted_string"></h2>
                            <h2 ng-if="$first && l.type == 'playerAchievement'" class="newsItem" ng-bind-html="achieved_string"></h2>
                            <div class="md-list-item-text">
                                <a ui-sref="char({ char: l.character })" class="class{{l.character.class}} guildliste">
                                    <h3 class="charname" ng-bind-html="l.character + ', ' + (l.timestamp | date:'dd.MM HH:mm')"></h3>
                                </a>
                                <h4 ng-if="l.type != 'playerAchievement'">
                                    <a target="_blank" ng-href="http://www.wowhead.com/item={{l.itemId}}" rel="bonus={{getBonus(l.bonusLists | flatten)}}"></a>
                                </h4>
                                <h4 ng-if="l.type == 'playerAchievement'">
                                    <a target="_blank" ng-href="http://www.wowhead.com/achievement={{l.achievement.id}}"></a>
                                </h4>
                            </div>
                    </div>

        </div>
    </md-content>
</div>