<md-content class="page-container" ng-show="loadItems">
    <div ng-if="guild">
        <div layout-gt-md="row" layout-xs="column" layout-wrap>
            <div flex ng-repeat="unit in guild.members | groupBy:'character.class'" class="guildlist list{{$index}}">
                <div ng-repeat="uni in unit | filter:sok | groupBy:'rank'">

                    <div ng-repeat="g in uni | filter:{ character: {class: filter.class.id } } : true | filter:{ rank: filter.rank.id } : true  | orderBy: 'character.name'"
                        class="fade">
                        <h4 ng-if="$first" ng-bind-html="getRank(g.rank)"></h4>
                        <h3 class=" pointer">
                            <a ui-sref="char({ char: g.character.name })" class="class{{g.character.class}} guildliste" ng-bind-html="g.character.name"></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>